<h1>To Do List</h1>
<h3>Add new item to @Model.GetName()</h3>
<form action="/items" method="post">
  <input id="category-id" name="category-id" type="hidden" value="@Model.GetId()">
  <label for="new-description">Item description:</label>
  <input id="new-description" name="new-description" type="text">
  <button type="submit">Add item</button>
</form>
